/* This is the style for the body of the html page */

body {
    background: rgb(255, 255, 255);
    margin: 0px;
    font-size: 1em;
}


/* This is the style for the navigation bar */

ul.topnav {
    list-style-type: none;
    margin: 0px;
    padding: 1px;
    overflow: hidden;
    background-color: #448cff;
    text-align: center;
}

div.container1 {
    display: inline-block;
    vertical-align: top;
}

div.container {
    margin: 0px;
}

form {
  text-align: left;
  font-family: 'Open Sans', sans-serif;
}

/* Float the list items side by side */

ul.topnav li {
    float: left;
}


/* This is the Style for the links inside the list items */

ul.topnav li a {
    display: inline-block;
    color: #ffffff;
    text-align: center;
    padding: 0px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 2em;
    font-family: 'Open Sans', sans-serif;
    margin: 25px;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
}

ul {
    list-style-type: none;
}


/* This is the  background color for the links on hover */

ul.topnav li a:hover {

    background-color: #448cff;
    padding: 5px;

}


/* This is the style for the header of the page */

header {
    background: #1169f7;
    color: white;
    font-family: 'Work Sans', sans-serif;
    text-align: center;
    font-size: 3em;
    padding: 20px;
    margin: 0px;
    max-width: 100%;
}

head {
    color: white;
    font-family: 'Work Sans', sans-serif;
    text-align: center;
    font-size: 3em;
    padding: 20px;
    margin: 0px;
    max-width: 100%;
}

h2 {
    position: absolute;
    top: 150px;
    left: 400px;
    width: 100%;
}

div.title {
    background-color: black;
    color: #fff;
    display: inline;
    padding: 3em;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
}

sub {
    background: #1169f7;
    color: white;
    font-family: 'Work Sans', sans-serif;
    text-align: center;
    font-size: 3em;
    padding: 1px;
    margin: 1px;
}

sub1 {
    background: #1169f7;
    color: white;
    font-family: 'Work Sans', sans-serif;
    text-align: left;
    font-size: 2.25em;
    padding: 1px;
    margin: 20px;
}


/* This is the style for the header1 of the page */

h1 {
    font-size: 2.25em;
    font-family: 'Open Sans', sans-serif;
    color: white;
    margin-left: 20px;
}


h4 {
    font-size: 1em;
    font-family: 'Open Sans', sans-serif;
    color: white;
}

h5 {
    font-size: 0.75em;
    font-family: 'Open Sans', sans-serif;
    margin: 0px;
}

h6 {
    font-size: 1em;
    font-family: 'Open Sans', sans-serif;
    color: white;
    text-align: justify;
    margin: 45px;
}


h2 {
  background: #1169f7;
  color: white;
  font-family: 'Work Sans', sans-serif;
  text-align: left;
  font-size: 2.25em;
  padding: 1px;
  margin: 20px;
  }
/* This is the style for the images of the page */

div.img {
    align-content: flex-end;
    margin: 5px;
    padding: 0px;
    background-color: #448cff;
    width: 25em;
    display: inline-block;
}

fieldset {
  width: auto;
}
.option-list {
  display: inline-block;
}

form {
  border: solid white 5px;
  padding: 1em;
  color: white;
text-align: center;
margin-left:60px;
margin-right:60px;


}



.form-title {
  margin-top: 0;
}

.form-group {
  margin-bottom: 0.5em;
}

div.textbox {
    align-content: flex-end;
    margin: 0px;
    padding: 10px;
    background-color: #1169f7;
    width: 100% display: inline-block;
}

div.textbox1 {
    align-content: flex-end;
    margin: 0px;
    padding: 10px;
    background-color: #448cff;
    width: 50% display: inline-block;
    text-align: left;
}

p1 {
    -webkit-animation: color-change 2s infinite;
    padding: 1px;
    color: #448cff
}

@-webkit-keyframes color-change {
    0% {
        color: white;
    }
    50% {
        color: #448cff;
    }
    100% {
        color: red;
    }
}

p2 {
    font-family: 'Kavoon', cursive;
    -webkit-animation: color-change 2s infinite;
    padding: 1px;
    color: #448cff
}

@-webkit-keyframes color-change {
    0% {
        color: white;
    }
    50% {
        color: #448cff;
    }
    100% {
        color: white;
    }
}

p3 {
    font-family: 'Space Mono', monospace;
    -webkit-animation: color-change 2s infinite;
    padding: 1px;
    color: #448cff
}

@-webkit-keyframes color-change {
    0% {
        color: white;
    }
    50% {
        color: #448cff;
    }
    100% {
        color: white;
    }
}

div.beside {
    display: inline-block;
}

div.beside1 {
    display: inline-block;
    padding: 0px;
    margin: 0px;
    text direction: none;
}

a {
    text-decoration: none;
    color: white
}

div.desc {
    padding: 15px;
    text-align: center;
    font-size: 2.25em;
    font-family: 'Open Sans', sans-serif;
    color: white;
    display: inline-block;
}

div.img:hover {
    border: 2px solid rgb(109, 99, 99);
}

div.img img {
    width: 100%;
    height: auto;
}

div.text {
    font-size: 1.75em;

    font-family: 'Open Sans', sans-serif;
    color: white;
    padding: 20px;
    text-align: justify;
}

div.text1 {
    font-size: 1.25em;
    font-family: 'Open Sans', sans-serif;
    color: white;
<<<<<<< HEAD
    padding: 25px;
=======
    padding: 20px;
>>>>>>> f5fb6ae662e67a41ea1f4362d38f6c3a5fc4263b
    text-align: left;
}

button {
    font-size: 2em;
<<<<<<< HEAD
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    background-color: #1169f7
=======
    color: #ffffff;
   background-color: #1169f7;
   text-shadow: -1px 1px #417cb8;
   border: none;
   padding: 2px;
>>>>>>> f5fb6ae662e67a41ea1f4362d38f6c3a5fc4263b
}

div.wrapper {
    text-align: center;
    margin: 0px;
}

div.wrapper1 {
    text-align: right;
    margin: 0px;
}

div.wrapper2 {
    text-align: left;
    margin: 0px;
}

div.wrapper3 {
    align-content: center;
    margin: 0px;
}

div.wrapper4 {
    text-align: center;
    align-content: center;

}

footer.page-footer {
    font-size: 1.5em;
    font-family: 'Open Sans', sans-serif;
    background-color: #1169f7;
    color: white;
    padding: 5px;
    text-align: justify;
    margin: 0px;
}

footer.body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    margin: -20px;
}

footer.main {
    flex: 1 0 auto;
}


}
.lib-panel {
    margin-bottom: -20px;
}
.lib-panel img {
    width: 100%;
    background-color: transparent;
}
.lib-panel .lib-row.lib-header {
    background-color: #FFFFFF;
    font-size: 1.25em;
    font-family: 'Open Sans', sans-serif;
    padding: 10px 20px 0 20px;
}
.lib-panel .lib-row.lib-desc {
    position: relative;
    display: block;
    font-size: 1em;
    font-family: 'Open Sans', sans-serif;
}
div.link {
    text-decoration: none !important;
}
